# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/

# Model (we'll zip it)
backend/models/RandomForest.joblib

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db